/* root */
:root {
    --primary:#2F4455;
    --secondary: #376F70;
    --background-color: #EAE7DC;
    --white:#fff;
    --black:#000;
    --scrollbar-track-bg-color: #f1f1f1;
    --scrollbar-thumb-bg-color: #888;
    --scrollbar-thumb-hover-bg-color: #555;
    --title-bg-before: #111;
    --title-bg-after: #fff;
    --bg-black-dark:#111;
    --bg-black-medium:#222;
    --bg-black-light:#333;
}
body{
    background-color: #EAE7DC;
}
a{
    text-decoration: none;
}
.head_logo{
    background-color: var(--background-color);

}
.div-pro-logo{
    height: 50px;
    width: 50px; 
    overflow: hidden;
}
.div-pro-logo .pro-logo{
    transform: scale(1);
    height: 100%;
    width: 100%;
}

.s1-t1{
    color: var(--secondary);
    font-weight: 700;
    
}
.s1-t2{
    font-weight: 900;
    color: var(--primary);
}
.s1-t3{
    color: var(--secondary);
    font-weight: 700;
}
.h{
    font-weight: 900 ;
}

.second-img{
    height: 250px;
    width: 250px;
}
.s1-t3 span{
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 2px;
    border-right: 2px solid var(--blue);
}
.icon{
    font-size: 30px;
    font-weight: 900;
}
.dc{
    background-color: var(--primary);
    border-color: var(--white);
}
.dc:hover{
    background-color: var(--secondary);
    border-color: var(--white);
}
.box{
    padding: 20px 30px;
    border: 3px solid var(--primary);
    border-radius:5px ;
}
.am{
    font-weight: 700;
    color: var(--secondary);
}
.bg-wb-p{
    background-color: var(--secondary);
    border: 5px solid var(--primary);
}
.bg-wb-pr{
    background-color: var(--secondary);
    border: 2px solid var(--primary);
}
.bg-wb-main{
    background-color: var(--secondary);
}
.progress-bar{
    background-color: var(--secondary);
}
.lable{
    color: var(--primary);
    font-weight: 700;
}
.lable_ans{
    color: var(--secondary);
    font-weight: 600;
}
.pro_img{
    height: 200px;
    width: 400px;
}
.year{
    font-weight: 700;
    color: var(--primary);
}
.position{
    font-weight: 600;
    color: var(--secondary);
}
.place{
    font-weight: 500;
    color: var(--scrollbar-thumb-hover-bg-color);
}

.p{
    font-weight: 500;
    color: var(--scrollbar-thumb-hover-bg-color);
    word-spacing: 4px;
    letter-spacing: 1px;
}
.re-border{
    border-left: 5px solid var(--primary);
}
.box-pro {
    overflow: hidden;
    border: var(--secondary);
}
.box-pro img{
    height: 100%;
    width: 100%;
}
.main-box{
    background-color: var(--secondary);
}
.sub-text{
    color: #ffffff;
}
.text{
    color: rgb(125, 255, 255);
}
/* .box::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bg-color);
    border-radius: 20px;
}

.box::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg-color);
    border-radius: 10px;
}

.box::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-bg-color);
}
.box::-webkit-scrollbar:horizontal{
    height: 5px;
    border-radius: 20px;
} */

/* custom scroll bar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg-color);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-bg-color);
}
